* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


body {
    width: 100%;
    min-height: 100vh;
    /* display: inline-block; */

    background-color: #90D5FF;
    color: white;
    /* padding-left: 30%; */
    /* border-left: 30%; */
    padding-top: 20%;
    /* padding-right: 30%; */
}

h4 {
   display: flex;
   flex-direction: column;
   /* align-items:center; */
   font-family: "dynapuff", sans-serif;
   font-size: 4em;

}



a {
    text-decoration: none;
    color: #FFDE21;
    transition-duration: 2s;
}

a:hover {
    /* color: white; */
    /* transform: scale(1.5); */
    /* transform: scale(2); */
}

/* page one */

   .oneI {
    display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      justify-content: center;
      /* center align help from: https://www.w3schools.com/css/css_align.asp */
 }
 .oneII {
  display: flex;
  flex-direction: row;
      align-items: center;
      justify-content: center;
 }
    #doesnt {
      animation-name: reveal;
      animation-duration: 2s;
      /* animation-delay: 0.5s; */
      animation-fill-mode: both;
      padding-right: 2%;
    }

    #this {
      animation-name: reveal;
      animation-duration: 2s;
      animation-delay: 0.5s;
      animation-fill-mode: both;
      padding-right: 2%;
    }
    #guitar {
      animation-name: reveal;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: both;
      padding-right: 2%;
    }
    #sound {
      animation: reveal 2s 1.5s, slideLeft 1.5s 2.2s ease-out;

      animation-fill-mode: both;
      padding-right: 2%;
    }

    #so {
      /* background-color: blue; */
     width: auto;
     /* start of code modified from: https://seven.hashnode.dev/chaining-animations-in-css */
     animation: scaleUp 1.5s 2s, reveal 2s 2.2s;
     /* end of code modified from: https://seven.hashnode.dev/chaining-animations-in-css */
  animation-fill-mode: both;
  padding-right: 1%;
  animation-timing-function: ease-out;

      }

      #good {
        animation: reveal 2s 3s, slideRight 1.5s 2.2s ease-out;
      animation-fill-mode: both;
      }

      @keyframes scaleUp {
       from { transform: scale(1);}
       to {transform: scale(2 );}
      }

      @keyframes slideRight {
        from  {transform: translateX(0px);}
        to {transform: translateX(75px);}
      }

      @keyframes slideLeft {
        from {transform: translateX(0px);}
        to {transform: translateX(-75px);}
      }
    



/* page two*/
    #soSweet {
        animation-name: reveal;
        animation-duration: 1s;
        animation-delay: 4.5s;
        animation-fill-mode: both;
        animation-timing-function: ease-out;
        text-align: center;
    }

    .mmm {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       
    }
    
    #mOne {
    animation-name: reveal;
    animation-duration: 2s;
    animation-delay: 0s;
    padding-right: 2%;
    
    }
    
    #mTwo {
        animation-name: reveal;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;
    padding-right: 2%;

    
    
    }
    
    #mThree {
        animation-name: reveal;
        animation-duration: 2s;
        animation-delay: 1.5s;
        animation-fill-mode: both;
        padding-right: 2%;

        }
    
    @keyframes reveal {
       from {opacity:0;}
       to {opacity:1;}
       
    }

    /* page three */

    .threeI {
        display: flex;
        flex-direction:row ;
        /* flex-wrap: nowrap; */
        padding-right: 2% ;
    }
  #blue {
    color: blue;
  }




    /* page four */
  .four {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #with {
    padding-right: 2%;
    animation: reveal 2s;
    animation-fill-mode: both;

  }
  #my {
    padding-right: 2%;
    animation: reveal 2s 0.25s;
    animation-fill-mode: both;

  }

#head {
  padding-right: 2%;
  /* transform: translateY( -250px) rotate(-5deg);
  transition-duration: 1.5s;
  transition-delay: 2s; */
  animation: reveal 2s 0.6s, slideUp 1.5s 1.5s;
  animation-fill-mode: both;

}
  #up {
    animation: slideUp 1.5s 1.5s, reveal 2s 1s;
    animation-fill-mode: both;;
    animation-fill-mode: both;
padding-right: 2%;
  }
#in {
padding-right: 2%;
animation: reveal 2s 1.4s;
animation-fill-mode: both;
}

#outer {
  animation: reveal 2s  1.8s;
  animation-fill-mode: both;
  padding-right: 2%;
}
#space {
  animation: reveal 2s 2.4s;
  animation-fill-mode: both;
  padding-right: 2%;
}

  @keyframes slideUp {
    from {transform: translateY(0px) rotate(0deg);}
    to {transform: translateY(-200px) rotate(-5deg);}
  }
  @keyframes space {
    from {background-color: #90D5FF;}
    to {background-color: black;}
  }
  

    /* page five */

    