* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


body {
    width: 100%;
    min-height: 100vh;
    background-color: #90D5FF;
    color: white;
    padding-top: 20%;
    animation: space 3s 0.7s;
    animation-fill-mode: both;

}

h4 {
   display: flex;
   flex-direction: column;
   font-family: "dynapuff", sans-serif;
   font-size: 4em;

}



a {
    text-decoration: none;
    color: #FFDE21;
    transition-duration: 2s;
}

.six {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #when {
    padding-right: 1%;
    animation: reveal 2s;
    animation-fill-mode: both;
  }
  #i {
    padding-right: 1%;
    animation: reveal 2s 0.2s;
    animation-fill-mode: both;
  }
  #see {
    padding-right: 1%;
    animation: reveal 2s 0.4s;
    animation-fill-mode: both;
  }
  #trouble {
    padding-right: 1%;
    animation: reveal 2s 0.7s;
    animation-fill-mode: both;
    color: #FF2C2C;
  }
  #come {
    padding-right: 1%;
    animation: reveal 2s 1.1s;
    animation-fill-mode: both;
  }
  #myI {
    animation: reveal 2s 1.6s;
    animation-fill-mode: both;
    padding-right: 1%;
  }
  #way {
    animation: reveal 2s 2.1s;
    animation-fill-mode: both;
    padding-right: 1%;
  }

  @keyframes reveal {
    from {opacity:0;}
    to {opacity:1;}
  }
    
    @keyframes space {
        from {background-color: #90D5FF;}
        to {background-color: black;}
      }
 



  