

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

   
body {
    width: 100%;
    min-height: 100vh;
    /* display: inline-block; */
    background-color: #90D5FF;
    color: white;
    /* padding-left: 30%; */
    /* border-left: 30%; */
    padding-top: 20%;
    /* padding-right: 30%; */
    animation: space 1.5s 1.5s;
    animation-fill-mode: both;
}
p {
    font-family: "dynapuff", sans-serif;
    font-size: 5pt;
}

h4 {
   display: flex;
   flex-direction: column;
   /* align-items:center; */
   font-family: "dynapuff", sans-serif;
   font-size: 4em;

}



a {
    text-decoration: none;
    color: #FFDE21;
    transition-duration: 2s;
}

a:hover {
    /* color: white; */
    /* transform: scale(1.5); */
    /* transform: scale(2); */
}

.four {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #with {
    padding-right: 1%;
    animation: reveal 2s;
    animation-fill-mode: both;

  }
  #my {
    padding-right: 1%;
    animation: reveal 2s 0.25s;
    animation-fill-mode: both;

  }

#head {
  padding-right: 1%;
  animation: reveal 2s 0.5s, slideUp 1.5s 1.5s;
  animation-fill-mode: both;

}
  #up {
    animation: slideUp 1.5s 1.5s, reveal 2s 1s;
    animation-fill-mode: both;;
    animation-fill-mode: both;
padding-right: 1%;
  }
#in {
padding-right: 1%;
animation: reveal 2s 1.4s, slideUp 1.5s 1.7s;
animation-fill-mode: both;
}

#outer {
  animation: reveal 2s  1.8s, slideUp 1.5s 1.9s;
  animation-fill-mode: both;
  padding-right: 1%;
}
#space {
  animation: reveal 2s 2.4s, slideUp 1.5s 2.1s;
  animation-fill-mode: both;
  padding-right: 1%;
}
  @keyframes slideUp {
    from {transform: translateY(0px) rotate(0deg);}
    to {transform: translateY(-200px) rotate(-5deg);}
  }
  @keyframes space {
    from {background-color: #90D5FF;}
    to {background-color: black;}
  }
  @keyframes reveal {
    from {opacity:0;}
    to {opacity:1;}
  }