* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


body {
    width: 100%;
    min-height: 100vh;
animation: aok 6s 0.5s;

animation-fill-mode: both;
background-color: black;
    color: white;
    padding-top: 20%;

}

h4 {
   display: flex;
   flex-direction: column;
   font-family: "dynapuff", sans-serif;
   font-size: 4em;

}



a {
    text-decoration: none;
    color: #FFDE21;
    transition-duration: 2s;
}
@keyframes aok {
    0% {background-color:black ;}
    50% {background-color: #63747e;}
    100% {background-color: #90D5FF;}
  }
  @keyframes reveal {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  .five {
text-align: center;
  }
  #aokI {
    animation: reveal 2s 0.5s;
    animation-fill-mode: both;
  }

  .aokII {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: reveal 2s 3.5s;
    animation-fill-mode: both;
    color: #FFDE21;
  }